{% extends 'searchApp/base/base.html' %}
{% load static %} 
{% load utils %}



{% block title %} Job details {% endblock %}

{% block content %}
    
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'searchApp/img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{ job.job.job_title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{{ job.job.logo.url }}" alt="" style="width: 70px; height: 70px;"></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{ job.job.job_title}}</h4>
                                    </a>
                                    <ul>
                                        <li>{{job.job.job_category.name}}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.job.location}}</li>
                                        <li>${{job.job.salary_range}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{ job.description }}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <!-- <li>{{job_description.required_knowledge}}</li> -->
                                   {% for requirement in job.required_knowledge|split:"," %}
                                    <li>{{ requirement }}</li>
                                    {% endfor %}
                                   
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Education + Experience</h4>
                                </div>
                               <ul>
                                {% for requirement in job.education_experience|split:"," %}
                                    <li>{{ requirement }}</li>
                                {% endfor %}
                                  
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span>{{job.job.date_posted|timesince}}</span></li>
                              <li>Location : <span>{{job.job.location}}</span></li>
                              <li>Vacancy : <span>02</span></li>
                              <li>Job nature : <span>{{job.job.employment_type}}</span></li>
                              <li>Salary :  <span>${{job.job.salary_range}} yearly</span></li>
                              <li>Expiration date : <span>{{job.job.closing_date}}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="{% url 'application' job.job.id %}" class="btn" style="background-color: rgb(224, 183, 16);">Apply Now</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>{{job.job.company_name}}</span>
                              <p>{{job.job.company_info}}</p>
                            <ul>
                                <li>Name: <span>{{job.job.company_name}} </span></li>
                                <li>Web : <span> {{job.job.company_web}}</span></li>
                                <li>Email: <span>{{job.job.company_email}}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
    {% endblock %}