{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'searchApp/img/favicon.ico' %}">

    <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'searchApp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/price_rangs.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'searchApp/css/style.css' %}">

        <!-- authentication, application and add job -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
</head>